h1, p {
    font-family: serif;
    color: black;
}
h1 {
    border-bottom: 1px solid gray;
    color: red;
}
body {
    background-color: yellow;
}
em {
    color: red;
}
#type1 {
    color: green;
}
#type2 {
    color: blue;
}
